<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.martinezinc.taxif">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.martinezinc.taxif.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.martinezinc.taxif.MoreActivity"
            android:parentActivityName="com.martinezinc.taxif.MainActivity" >
        </activity>


        <service
            android:name="com.martinezinc.taxif.ApplyMockBroadcastReceiver"
            android:enabled="true"
            android:exported="true"></service>

        <receiver android:name=".ApplyMockBroadcastReceiver"  android:exported="true">
        </receiver>
    </application>

</manifest>
